.jumbotron {
  margin:0;
  padding: 30px;
  background-image: linear-gradient(to right, #f50c0c, orange,yellow, green, blue, indigo, violet);
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 50%;
  border-radius: 20px;
}

.jumbotron h2, h1{
  background-color: rgba(0, 0, 0, 0.1);
  border-style: fade ;
  padding: 5px;
  border-radius: 20px;
}

.btn {
  padding: 4px;
  margin-top: 20px;
  border-radius: 20px;
}

/*THOUGHT BUBBLE STYLES*/

body {
  background-color:orange;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  margin:0;
  height:85vh;
  align-items:center;
  align-content:center;
}

.thought {
  display:flex;
  background-color:rgb(223, 243, 176);
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
.thought:before,
.thought:after {
  content:"";
  background-color:rgb(223, 243, 176);
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px rgb(223, 243, 176);
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 rgb(223, 243, 176),
             -28px -6px 0 -2px rgb(223, 243, 176),
             -24px 17px 0 -6px rgb(223, 243, 176),
             -5px 25px 0 -10px rgb(223, 243, 176);
  
}


.site-footer{
  background-image: linear-gradient(#b7a8f8, white);
  padding: 20px 0px;
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #901CAD;
}

.navbar-dark {
  background-color: #901CAD;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637DD;
}
