.btn {
  padding: 4px;
  margin-top: 40px;
  border-radius: 20px; }

body {
  background-color: #f3c878;
  margin-top: 60px; }

/*THOUGHT BUBBLE STYLES*/
.thought {
  background-color: #dff3b0;
  padding-top: 90px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 130px;
  min-width: 400px;
  max-width: 220px;
  min-height: 270px;
  margin: 28px;
  margin-top: 95px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px; }

.thought:before,
.thought:after {
  content: "";
  background-color: #dff3b0;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1; }

.thought:before {
  width: 150px;
  height: 150px;
  top: 0px;
  left: 0px;
  box-shadow: 250px 140px 0 -12px #dff3b0, 170px 155px 0 -12px #dff3b0, 75px 155px 0 -12px #dff3b0, -10px 145px 0 -12px #dff3b0, -30px 70px 0 -12px #dff3b0, 75px -35px 0 -12px #dff3b0, 175px -35px 0 -12px #dff3b0, 250px -10px 0 -12px #dff3b0, 280px 35px 0 -12px #dff3b0, 270px 100px 0 -12px #dff3b0; }

.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 20px 20px 0 -10px #dff3b0, -40px 15px 0 -2px #dff3b0, -15px 30px 0 -6px #dff3b0, 10px 40px 0 -10px #dff3b0; }

/*END OF THOUGHT BUBBLE STYLES*/
.site-footer {
  background-color: #d39ff1;
  padding: 20px 0px;
  color: white;
  opacity: 90%; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #e90c8d;
  opacity: 90%; }

.navbar-dark {
  background-color: #d39ff1;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 90%; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637DD; }

li {
  cursor: pointer; }

.point {
  cursor: pointer; }

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 2px;
  bottom: 0;
  clear: both;
  background-color: black;
  color: white;
  float: left;
  overflow: auto; }

.lobster {
  font-family: "Lobster", cursive; }

.butts {
  background: red; }

.gallery img {
  padding: 10px; }

.dropDown {
  background: #f3c878; }
