$color-orange: rgb(243, 200, 120);
$color-salmon:rgb(241, 129, 208);
$color-green: rgb(192, 231, 99);
$color-yellow: rgb(247, 245, 168);
.btn {
  padding: 5px;
  border-radius: 10px;
}

.thought{
  .btn{
    margin-top:40px;
  }
}

body {
  background-color:$color-orange;

}

/*THOUGHT BUBBLE STYLES*/
.thought {
  background-color:$color-green;
  padding-top:90px;
  padding-right:25px;
  padding-left:25px;
  border-radius:130px;
  width: 400px;
  height: 270px;
  margin:28px;
  position:relative;
  text-align:center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}
.thought:before,
.thought:after {
  content:"";
  background-color:$color-green;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:150px;
  height:150px;
  top:0px;
  left:0px;
  box-shadow: 250px 140px 0 -12px $color-green,
              170px 155px 0 -12px $color-green,
              75px 155px 0 -12px $color-green,
              -10px 145px 0 -12px $color-green,
              -30px 70px 0 -12px $color-green,
              75px -35px 0 -12px $color-green,
              175px -35px 0 -12px $color-green,
              250px -10px 0 -12px $color-green,
              280px 35px 0 -12px $color-green,
              270px 100px 0 -12px $color-green;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow: 20px 20px 0 -10px $color-green,
             -40px 15px 0 -2px $color-green,
             -15px 30px 0 -6px $color-green,
             10px 40px 0 -10px $color-green;
  
}

/*END OF THOUGHT BUBBLE STYLES*/

.site-footer{
  background-color: $color-salmon;
  padding: 20px 0px;
  color: white;
  opacity: 90%;

}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar-dark {
  background-color:$color-salmon;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 90%;
}

li {
  cursor: pointer;
}

.point {
  cursor: pointer;
}

footer{
  bottom: 0; left: 0; right: 0;
  width:100%;
  padding-top: 2px;
  bottom: 0;
  clear: both;
  background-color: black;
  color: white;
  float: left;
  overflow: auto;
  
}

.lobster {
  font-family: "Lobster", cursive;
}

.butts{
  padding: 8px 8px 8px 32px;
  font-family: Arial, Verdana;   
  background: #f0f0f0;
  background-position: 8px 8px;
  background-repeat: no-repeat;
}

.gallery{
  img{
    padding: 10px;
  }
}

.dropDown{
  background:$color-salmon;
}

.dropdown-item{
  color:white;
}

.imgButt{
  padding:10px;
  height: 100px;
  width: 150px;
}

.header-height{
  margin-top: 60px;
}

.cardBG{
  background-color: $color-green;
}

.cardBG2{
  background-color: $color-yellow;
}
